@font-face {
	font-family: circe;
	font-display: swap;
	src: url("../fonts/circe-light.woff2") format("woff2"), url("../fonts/circe-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: circe;
	font-display: swap;
	src: url("../fonts/circe-bold.woff2") format("woff2"), url("../fonts/circe-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: circe;
	font-display: swap;
	src: url("../fonts/circe.woff2") format("woff2"), url("../fonts/circe.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: enthalpy298regular;
	font-display: swap;
	src: url("../fonts/enthalpy298regular.woff2") format("woff2"), url("../fonts/enthalpy298regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
