.main-title {
  text-align: center;
  font-family: $fontFamily;
  font-size: 48px;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.button {
  background: url("../img/page1/button.png") no-repeat;
  background-size: center;
}
